*.d
*.o
*.ko
*.obj
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.so
*.so.*
*.dylib
*.dSYM/
*.su
*.idb
*.pdb
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
bin/*
build/*
.dep/*
bootloader/build/*.elf
bootloader/build/*.o
